@model IEnumerable<NorthWind.Models.Shipper>

@{
    ViewData["Title"] = "Shipper";
}

<h1>Shipper List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="shipperData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
               ShipperName
            </th>
            <th>
                Phone
            </th>
            <th>Action</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#shipperData').DataTable({
                "ajax": { url: '/Shippers/getall' },
                "columns": [
                    { data: 'shipperName' },
                    { data: 'phone' },
                    {
                        data: 'shipperId',
                        "render": function (data) {
                            return `<div class="w-75 btn-group" role="group">
                                     <a href="/Shippers/edit?shipperId=${data}" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                      <a href="/Shippers/delete?shipperId=${data}" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                                    </div>`
                        }
                    }
                ]
            });
        }
    </script>
}